.search-container {
  .input-field {
    input {
      border: none;
      -webkit-appearance: none;
      -ms-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: #f2f2f2;
      padding: 12px;
      border-radius: 3px;
      width: 100%;
      font-size: 14px;
    }
  }
}
